<h2>Usuarios</h2>

<div class="row">
  <div class="col-md-2">
    <button (click)="openModal()" type="button" class="btn btn-facebook waves-effect btn-rounded waves-light">Crear
      nuevo usuario</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <span class="btn-label"><i class="fa fa-reorder"></i></span>
      Ordenar
    </button>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
      <a class="dropdown-item" href="#">Nombre</a>
      <a class="dropdown-item" href="#">Email</a>
      <a class="dropdown-item" href="#">Apellido Paterno</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Rol</a>
    </div>
  </div>
  <div class="col-md-2">
    <input type="text" id="demo-input-search2" placeholder="Buscar usuario" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-md-12 mx-auto">
    <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
      <thead>
        <tr>
          <th style="width: 20%">
            <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="appaterno">Apellido Paterno</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="apmaterno">Apellido Materno</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="email">Email</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="rol">Rol</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{item.nombre}}</td>
          <td>{{item.apellidoPaterno}}</td>
          <td>{{item.apellidoMaterno}}</td>
          <td>{{item.email}}</td>
          <td>{{item.rol}}</td>
          <td>
            <button class="btn table-action-btn" style="color:red" (click)="eliminarUsuario(item._id)">
              <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn table-action-btn" style="color:green" (click)="editarUsuario(item._id)">
              <i class="fa fa-pencil-square-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>




</div>