<div class="row">
  <div class="col-md-12" align="left">
    <h2>Usuarios</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <button (click)="openModal()" type="button" class="btn btn-facebook waves-effect btn-rounded waves-light">Crear
      nuevo usuario</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 mx-auto">
    <ng2-smart-table class="card" #tabla [settings]="settings" [source]="source" (edit)="onEdit($event)" (delete)="onDelete($event)"></ng2-smart-table>
  </div>
</div>