<div class="row">
  <div class="col-md-12" align="center">
    <h1>Usuarios</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-facebook waves-effect btn-rounded waves-light" (click)="openModal()">Agregar nuevo usuario</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12 mx-auto">
    <ng2-smart-table class="card" #tabla [settings]="settings" [source]="source" (edit)="onEdit($event)" (delete)="onDelete($event)"></ng2-smart-table>
  </div>
</div>