<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img src="assets/images/itt.png" width="38" height="38" alt="">
    <a class="navbar-brand" style="color: rgba(255, 255, 255, 0.5)"> CIDETI - Instituto Tecnológico de Tepic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/portal" routerLinkActive="active">Portal
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portal" routerLinkActive="active" fragment="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portal" routerLinkActive="active" fragment="servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portal" routerLinkActive="active" fragment="contacto">Contacto</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Entrar</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/images/portal/sc.jpg')">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.568)">
          <h3 style="color:white; font: bold;">First Slide</h3>
          <p><b>This is a description for the first slide.</b></p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/images/portal/ced.jpg')">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.568)">
          <h3 style="color:white; font: bold;">Second Slide</h3>
          <p style="color:white; font: bold;">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/images/portal/conferencia.jpg')">
        <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.568);">
          <h3 style="color:white; font: bold;">Third Slide</h3>
          <p style="color:white; font: bold;">This is a description for the third slide.</p>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('assets/images/portal/conferencias-cursos-img.jpg')">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.568)">
          <h3 style="color:white; font: bold;">Fourth Slide</h3>
          <p style="color:white; font: bold;">This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">


    <div class="row" id="about">
      <div class="col-md-5">
        <h1>Sobre nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Maxime vero error tenetur dignissimos vel optio, perferendis illo
          eius incidunt libero dolorum sed iure, ducimus cupiditate. Necessitatibus dolorem non repellendus tempora.</p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Eum quae suscipit omnis aliquid quidem ad asperiores ab velit at reprehenderit nobis tempora,
          animi iusto deserunt tenetur itaque, praesentium inventore neque!
        </p>
      </div>
      <div class="col-md-7" align="right">
        <img src="https://via.placeholder.com/450x300" alt="">
      </div>
    </div>
    <hr id="servicios">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Instagram</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

          <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Twitter</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

          <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Facebook</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
              <div class="box-part text-center">
                            
                            <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>
                            
                <div class="title">
                  <h4>Pinterest</h4>
                </div>
                            
                <div class="text">
                  <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                            
                <a href="#">Learn More</a>
                            
               </div>
            </div>	 
            
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
              <div class="box-part text-center">
                  
                  <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                        
                <div class="title">
                  <h4>Google</h4>
                </div>
                            
                <div class="text">
                  <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                            
                <a href="#">Learn More</a>
                            
               </div>
            </div>	 
            
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
              <div class="box-part text-center">
                            
                            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                            
                <div class="title">
                  <h4>Github</h4>
                </div>
                            
                <div class="text">
                  <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                            
                <a href="#">Learn More</a>
                            
               </div>
            </div> -->

    </div>
    <hr id="contacto">
    <div class="row">
      <div class="col-md-6">
        <h1>Contactanos</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Quod assumenda officiis corporis voluptatem autem tempora nobis! Facilis,
          iusto odit aliquam molestiae laboriosam suscipit eaque, ipsa dicta tempora facere
          distinctio! Quas!</p>

      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="someemail" placeholder="">
          <small id="someemail" class="form-text text-muted">Coloca tu email</small>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="someemail" placeholder="">
          <small id="someemail" class="form-text text-muted">Coloca tu email</small>
        </div>

        <button class="btn btn-facebook btn-blcok">Enviar</button>

      </div>
    </div>


  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Instituto Tecnológico de Tepic</p>
  </div>
  <!-- /.container -->
</footer>