<app-header></app-header>

<div class="container-fluid">
    <div class="row">

        <main role="main" class="col-md-12 text-center">
            <div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                        <h3>Welcome</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veritatis quo deleniti.
                        </p>
                        <input type="submit" name="" value="Login" /><br />
                    </div>
                    <div class="col-md-9 register-right">

                        <h3 class="register-heading">Registrar nuevo usuario</h3>
                        <form class="row register-form" [formGroup]="forma" (ngSubmit)="registrarUsuario()">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="nombre" name="nombre" class="form-control"
                                        placeholder="Nombres *"  />
                                </div>
                                <div class="form-group">
                                    <input type="text" formControlName="appaterno" name="appaterno" class="form-control"
                                        placeholder="Apellido Paterno *"  />
                                </div>
                                <div class="form-group">
                                    <input type="text" formControlName="apmaterno" name="apmaterno" class="form-control"
                                        placeholder="Apellido Materno*"  />
                                </div>
                                <div class="form-group">
                                    <input type="email" formControlName="email" name="email" class="form-control"
                                        placeholder="Email *"  />
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" formControlName="emailconfirm" name="emailconfirm" class="form-control"
                                        placeholder="Confirma tu email *"  />
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" name="password" class="form-control" placeholder="Contraseña *"  />
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="passwordconfirm" name="passwordconfirm" class="form-control" placeholder="Confirma tu contraseña *"/>
                                </div>
                                <!-- Pendiente validar formularios -->
                                <!-- <div class="form-group" *ngIf="forma.errors?.sonIguales && forma.pristine">
                                    <p class="text-danger">
                                        * Las contraseñas deben ser iguales
                                    </p>

                                </div>
                                <div class="form-group" *ngIf="forma.get('email').errors && forma.get('email').touched">
                                        <p class="text-danger">
                                            * Los campos de Email deben ser iguales
                                        </p>
    
                                    </div> -->
                                <button type="submit" class="btnRegister" >Registrar</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </main>
    </div>
</div>
<br>
<br>

<app-footer></app-footer>