<div class="row">
  <div class="col-md-12" align="center">
    <h1>Editar portal</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12" align="left">
    <h2>Editar Slider</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2" align="center">
    <div class="cuadro">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <p>Texto</p>
  </div>
  <div class="col-md-2" align="center">
    <div class="cuadro">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <p>Texto</p>
  </div>
  <div class="col-md-2" align="center">
    <div class="cuadro">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <p>Texto</p>
  </div>
  <div class="col-md-2" align="center">
    <div class="cuadro">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <p>Texto</p>
  </div>
  <div class="col-md-2" align="center">
    <div class="cuadro">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <p>Texto</p>
  </div>
  <div class="col-md-2" align="center">
    <div class="cuadro">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <p>Texto</p>
  </div>
</div>