<div class="row">

    <div class="col-md-12">


        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Localización del evento</h2>
                <!-- <h6 class="card-subtitle">Use default tab with class <code>nav-tabs &amp; tabcontent-border </code></h6> -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span
                                class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Localización
                                del evento</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"><i
                                    class="ti-user"></i></span> <span class="hidden-xs-down">Croquis</span></a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabcontent-border">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <div class="p-20">
                            <div class="row">
                                <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" [zoom]="zoom"
                                    [zoomControl]="false" [usePanning]="true">
                                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                </agm-map>
                            </div>
                            <br>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="latitud">Latitud</label>
                                        <input disabled type="text" [(ngModel)]="lat" class="form-control" name="latitud"
                                            id="latitud" placeholder="Latitud" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="longitud">Longitud</label>
                                        <input disabled type="text" [(ngModel)]="lng" class="form-control" name="longitud"
                                            id="longitud" placeholder="Longitud" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="savemap">.</label>
                                    <button type="button" name="savemap" id="savemap" class="btn btn-facebook btn-block"
                                        (click)="guardarMapa()">
                                        Guardar Localización
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane  p-20" id="profile" role="tabpanel">

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="{{croquisImg}}" alt="croquis">

                            </div>
                        </div>

                        <div class="p-20">

                            <br>
                            <form [formGroup]="croquisForm">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="croquis">Croquis</label>
                                            <input formControlName="croquis" (change)="uploadDocument($event.target.files[0])"
                                                type="file" class="form-control" name="croquis" id="croquis"
                                                placeholder="Selecciona un croquis" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="savecroquis">.</label>
                                        <button type="button" name="savecroquis" id="savecroquis" class="btn btn-facebook btn-block"
                                            (click)="guardarCroquis()">
                                            Subir croquis
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 pull-right">


    </div>

</div>