<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="assets/img/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
Tip 2: you can also add an image using data-image tag
Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            CT
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Creative Tim
        </a>
    </div>
    <div class="sidebar-wrapper">

        <ul class="nav">
            <!-- <li class="active">
                <a href="./dashboard.html">
                    <i class="material-icons">dashboard</i>
                    <p> Eventos </p>
                </a>
            </li> -->

            <li *ngFor="let menu of _sidebar.menu">
                <a [routerLink]="[menu.url]" routerLinkActive="active">
                    <i [class]="menu.icono">dashboard</i>
                    <p> {{menu.titulo}} </p>
                </a>
            </li>

            <li>
                <a routerLink="/login">Salir</a>
            </li>
            
        </ul>
    </div>
</div>