<div class="row" *ngIf="existe">

  <div class="col-md-3">

    <div class="col-md-12 pointer" routerLink="conferencias">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">599</span>
        <span class="count-name">Conferencias</span>
      </div>
    </div>


    <div class="col-md-12 pointer" routerLink="estadisticas">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers">6875</span>
        <span class="count-name">Estadísticas</span>
      </div>
    </div>

    <div class="col-md-12 pointer" routerLink="usuarios">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Usuarios</span>
      </div>
    </div>

    <div class="col-md-12 pointer" routerLink="mapas">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Mapas</span>
      </div>
    </div>

    <div class="col-md-12 pointer" routerLink="marcas">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Marcas</span>
      </div>
    </div>

    <div class="col-md-12 pointer" routerLink="paseentrada">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Pase de entrada</span>
      </div>
    </div>

    <div class="col-md-12 pointer" routerLink="constancias">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Constancias</span>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row text-center">
      <img src="https://picsum.photos/g/1000/200" alt="" class="col-md-12">
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Titulo del evento</h3>
        <hr>
        <h4>Fechas</h4>
        <p>Inicio: 12/04/01 </p>
        <p>Fin: 13/05/02</p>
        <p>Fecha de creación: 13/05/02</p>

        <h4>Descripción</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Odio saepe amet inventore molestiae maxime, aliquam atque odit at
          provident fuga magnam aspernatur harum, reiciendis quas, corporis eveniet?
          Non, soluta maxime? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
          itaque veritatis perspiciatis. Repellendus, doloribus vitae. Perferendis distinctio error,
          provident beatae quis nulla voluptas debitis, quisquam et, porro unde nesciunt sapiente?</p>

      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-6">
        <h4>Contratación</h4>
        <p>Michel Casillas</p>
      </div>
      <br>
      <div class="col-md-6">
        <h4>Estado de evento</h4>
        <p>Activo</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>Dirección</h4>
        <p>Bulevard Tepic-Xalisco #26</p>
      </div>
      <div class="col-md-6">
        <h4>Contacto</h4>
        <p>Tel: 993-493-3940</p>
      </div>
    </div>


  </div>

</div>