<div class="row">
  <div class="col-md-12" align="center">
    <h1>Eventos</h1>
    <hr>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li *ngFor="let item of url; let i = index" class="breadcrumb-item pointer" routerLink="{{(i === 1)? '/eventos':item}}"
      aria-current="page">
      <a>{{ item }}</a>
    </li>
  </ol>
</nav>
<div>
  <div class="row" *ngIf="activo()">
    <div class="col-md-3 col-xs-3">
      <button (click)="openModal()" type="button" class="btn btn-facebook waves-effect btn-rounded waves-light">Crear
        nuevo evento</button>
    </div>
    <div class="btn-group col-md-2 col-xs-3">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="btn-label"><i class="fa fa-reorder"></i></span>
        Ordenar
      </button>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
        <a class="dropdown-item pointer" (click)="sortBy('nombre')">Nombre</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item pointer" (click)="sortBy('fecha')">Fecha</a>
      </div>
    </div>

    <div class="col-md-2 col-xs-3">
      <input type="text" (blur)="eventos = tempEventos;" (keyup)="findEvento($event)" [(ngModel)]="busqueda" id="demo-input-search2"
        placeholder="Buscar evento" class="form-control">
    </div>
  </div>

  <hr>

  <div class="row" *ngIf="menuActivado">

    <div *ngFor="let item of eventos" class="card pointer" style="width: 18rem; margin-left: 1%;" [routerLink]="['/eventos', item._id]"
      (click)="evento = true; menuActivado = false">
      <img class="card-img-top" src="{{item.img}}" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title">{{ item.titulo }}</h4>
        <p class="card-text">Fecha de inicio: <br>{{ item.fechainicio | date: 'dd/MM/yyyy'}}</p>
        <p class="card-text">Fecha de clausura: <br> {{ item.fechadefinalizacion | date: 'dd/MM/yyyy'}}</p>
        <p class="card-text">Cliente: {{ item.cliente.fullName }}</p>
      </div>
    </div>

  </div>

</div>

<router-outlet (activate)="displayCounter($event)" (deactivate)="displayDesactivate($event)"></router-outlet>