<div class="row">
  <div class="col-md-12">
    <img src="https://picsum.photos/g/800/200" alt="portada" />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3>Información</h3>

      <h4>Titulo de la conferencia</h4>
      <p>Hora: 123:123</p>
      <p>Salón: Ab</p>
      <p>Duración: 2 horas Fecha: 12/12/12</p>
      <hr />

      <div class="col-md-12">
        
        <app-grafica [data]="graficos.grafico1.data" [labels]="graficos.grafico1.labels" [charType]="graficos.grafico1.type" [leyenda]="graficos.grafico1.leyenda"></app-grafica>
      </div>
        
    </div>

    <div class="col-md-5">
        <div class="col-md-12 pointer">

                <div class="card profile-card-2">
                  <div class="card-img-block">
                    <img class="img-fluid" src="https://images.pexels.com/photos/870903/pexels-photo-870903.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
                      alt="Card image cap">
                  </div>
                  <div class="card-body pt-5">
                    <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile" />
                    <h5 class="card-title">asdasd</h5>
                    <p class="card-text"> Ponente: </p>
                    <p class="card-text">asd</p>
                    <p class="card-text">Hora: </p>
                    <p class="card-text">Fecha: </p>
                    <p class="card-text">Salon: </p>
                    <!-- <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a
                        href="#"> <i class="fa fa-google-plus"></i></a></div> -->
                  </div>
                </div>
          

        </div>
    </div>
  </div>
</div>
