<h2>Conferencias</h2>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <button (click)="openModal()" type="button" class="btn btn-facebook waves-effect btn-rounded waves-light">Crear
            nueva conferencia</button>
    </div>
    <div class="btn-group col-md-2 col-xs-3">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="btn-label"><i class="fa fa-reorder"></i></span>
            Ordenar
        </button>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item pointer" (click)="sortBy('nombre')">Nombre</a>
            <a class="dropdown-item pointer" (click)="sortBy('fecha')">Hora</a>
            <a class="dropdown-item pointer" (click)="sortBy('ponente')">Ponente</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pointer" (click)="sortBy('finalizadas')">Finalizadas</a>
        </div>
    </div>
    <div class="col-md-3 col-xs-4">
        <input type="text" id="demo-input-search2" (blur)="conferencias = tempConferencias;" (keyup)="findConference($event)" [(ngModel)]="busqueda" placeholder="Buscar conferencia" class="form-control">
    </div>
</div>
<br>

<div class="row">

    <div class="col-xs-10 col-sm-4 col-md-3" *ngFor="let item of conferencias" (click)="openDetalleConferencia(item._id, item.ponente.marcas)">
        <div class="image-flip pointer" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                    <div class="card">
                        <img class="img-fluid col-md-12" src="{{item.img}}" alt="card image">
                        <div class="card-body">
                            <h4 class="card-title">{{item.titulo}}</h4>
                            <p class="card-text">Ponente: {{item.ponente.fullName}}</p>
                            <p class="card-text">Hora: {{item.hora}}</p>
                            <p class="card-text">Fecha: {{item.fecha}}</p>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body mt-4">
                            <h4 class="card-title">Descripción</h4>
                            <p class="card-text">{{item.descripcion}}</p>
                            <p class="card-text">Salon: {{item.salon}}</p>
                            <p class="card-text">Duración: {{item.duracion}}</p>
                            <!-- <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>