<div class="row">

  <div class="col-md-10">
    <div class="col-md-3">
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img class="img-fluid" src="https://images.pexels.com/photos/870903/pexels-photo-870903.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
            alt="Card image cap">
        </div>
        <div class="card-body pt-5">
          <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile" />
          <h5 class="card-title">Landon Hunt</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a
              href="#"> <i class="fa fa-google-plus"></i></a></div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-1 fa-pull-right">
    <hr class="vertical-hr mr-1">
  </div>
  <div class="col-md-1">
    <div class="row fa-pull-left">
      <div class="col-md-12 text-center ">
          <button class="circulo amarillo pointer" (click)="openModal()">
            <span class="add"><i class="fa fa-plus"></i></span>
          </button>
          <h4>Agregar nueva</h4>
          <hr>

      </div>
    </div>
    <br>
    <br>
    <div class="row fa-pull-left">
      <div class="col-md-12 text-center">
        <button class="circulo amarillo pointer" (click)="openModal()">
          <span class="add"><i class="fa fa-plus"></i></span>
        </button>
        <h4>Agregar nueva</h4>
        <hr>
      </div>
    </div>




  </div>

</div>