.red-input {
    border:1px solid red;

}

.div-title {
    background-color: rgb(221, 217, 217);
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 3%
}

.div-title > h4 {
    text-align: center;
}